@charset "UTF-8";
.MessageBox {
  position: fixed;
  bottom: 120px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 0.5px solid #eee;
  box-shadow: 1px #eee;
}

.MessageBox .messageIcon {
  margin: 0 auto;
  margin-top: 6px;
  width: 28px;
  height: 28px;
  background: url(../../../static/img/edit.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.messageDrawer {
  z-index: 120;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.messageDrawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.messageDrawer .am-drawer-sidebar .am-list {
  padding: 0;
}

.messageItemBox {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.messageItemBox .messageItem {
  margin-left: 100px;
}

.messageItemBox .messageItem .messageIcons {
  width: 30px;
  height: 30px;
  background: url(../../../static/img/编_辑1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.messageItemBox .messageItem .messageTitle {
  margin-top: 8px;
  font-size: 14px;
  color: #434343;
}

.messageItemBox .messageItem:first-child {
  margin-left: 0;
}
