.likeBox .likeBoxItem {
  width: 100%;
  margin-bottom: 6px;
  padding-top: 6px;
  display: flex;
  justify-content: start;
}

.likeBox .likeBoxItem .likeImage .likeUserImage {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.likeBox .likeBoxItem .likeConnent {
  width: calc(100% - 55px);
  margin-left: 10px;
}

.likeBox .likeBoxItem .likeConnent .likeUserName {
  color: #595959;
  font-size: 14px;
}

.likeBox .likeBoxItem .likeConnent .likeUserTime {
  color: #595959;
  font-size: 12px;
}
