.allCircleItem {
    border-bottom: 0.5px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    padding-bottom: 14px;
    padding-top: 14px;
    

    .allCircleItemMiddle {
        
        display: flex;
        justify-content: left;
        align-items: center;

        .allCircleItemImg {
            width: 40px;
            height: 40px;
            border-radius: 6px;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
            }
        }

        .allCircledetail {
            margin-left: 10px;
            .allCircleItemMiddleName {
                font-size: 14px;
                font-weight: bold;
            }

            .allCircleTips {
                margin-top: 6px;
                font-size: 0;
                .allCircleTipsItem {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 0;
                    color: #bfbfbf;
                    span {
                        font-size: 12px;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    i{
                        font-size: 12px;
                        font-style: normal;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
       

        
    }

    .allCircleItemBtn {
        font-size: 14px;
        background: #3f6600;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 4px;
        line-height: 16px;
        color: white;
    }
}