.circle {

    .mineCircle {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        margin: 20px auto;
        // background: white;
        border-radius: 6px;
        overflow: hidden;

        .mineCircleTop {
            background: white;
            display: flex;
            justify-content: space-between;
            height: 40px;
            line-height: 40px;
            padding-left: 6px;
            padding-right: 6px;
            box-sizing: border-box;

            .mineCircleName {
                color: #262626;
                font-size: 16px;
            }

            .mineCircleMore {
                font-size: 12px;
            }
        }

        .mineCircleContent {
            padding-top: 20px;
            padding-bottom: 20px;
            // background: cadetblue;
            background: linear-gradient(to bottom, #FFEEEE, #DDEFBB);
            min-height: 150px;
            text-align: left;
            font-size: 0;

            .mineCircleItemBox {
                text-align: left;
                margin-bottom: 10px;
                display: inline-block;
                vertical-align: middle;
                width: 50%;
                height: 30px;
                line-height: 30px;
                font-size: 0;
                padding-left: 20px;
                box-sizing: border-box;
                padding-right: 20px;

                img {
                    width: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 6px;
                }

                span {
                    color: #595959;
                    height: 30px;
                    line-height: 30px;
                    overflow: hidden;
                    max-width: 100px;
                    margin-left: 6px;
                    font-size: 13px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

    }

    .mineCareful {
        padding-top: 10px;
        padding-bottom: 10px;
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;

        .mineCarefullyBox {
            .mineCareTopBox {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .mineCareTopName {}

                .mineCareTopMore {
                    color: #8c8c8c;
                    font-size: 12px;
                }


            }

            .mineCareTopTips {
                margin-top: 4px;
                text-align: left;
                font-size: 12px;
                color: #8c8c8c;
            }
        }

        .swiperContainer {
            margin-top: 10px;
            width: 100%;

            .swiper-slide {
                width: 100%;
                position: relative;

                .swiperImgBox {
                    border-radius: 4px;
                    display: block;
                    width: 100%;
                }

                .swiperTitleBox {
                    position: absolute;
                    left: 50%;
                    top: 95px;
                    transform: translate(-50%, -50%);

                    .swiperTitleName {
                        font-size: 18px;
                        color: #232526;
                    }

                    .swiperTitleBtn {
                        padding-left: 10px;
                        padding-right: 10px;
                        background: #aaa;
                        border-radius: 6px;
                        font-size: 14px;
                        height: 24px;
                        line-height: 24px;
                        margin-top: 10px;
                        color: white;
                    }
                }

                .swiperBottomBox {
                    text-align: left;
                    font-size: 0;
                    margin-top: 10px;
                    padding-left: 6px;

                    .swiperBottomIcon {
                        display: inline-block;
                        vertical-align: middle;
                        width: 30px;

                        img {
                            display: block;
                            width: 30px;
                            border-radius: 4px;
                            overflow: hidden;
                        }
                    }

                    .swiperBottomContent {
                        margin-left: 10px;
                        display: inline-block;
                        vertical-align: middle;

                        .swiperBottomCName {
                            letter-spacing: 0.2px;
                            font-size: 12px;
                            color: #595959;
                        }

                        .swiperBottomCNum {
                            letter-spacing: 0.2px;
                            font-size: 12px;
                            color: #595959;
                        }
                    }
                }
            }

        }
    }
}