@charset "UTF-8";
.CircleDetail {
  background: white;
  padding-bottom: 20px;
  position: relative;
}

.CircleDetail .returnBtn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../../../static/img/返_回.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 16px;
  top: 10px;
  z-index: 90;
}

.CircleDetail .detailBanner {
  background: url(//pic.cgyouxi.com/orange/title/1612071289_9649.gif);
  background-size: 100%;
  width: 100%;
  height: 212px;
  background-repeat: no-repeat;
  position: relative;
}

.CircleDetail .detailBanner .bannerShortIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20px;
  bottom: 20px;
}

.CircleDetail .detailBanner .bannerShortIcon img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.CircleDetail .bannerIntro {
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.CircleDetail .bannerIntro .bannerTopBox {
  display: flex;
  justify-content: space-between;
  height: 24px;
  line-height: 24px;
}

.CircleDetail .bannerIntro .bannerTopBox .bannerBoxName {
  font-size: 18px;
}

.CircleDetail .bannerIntro .bannerTopBox .bannerBoxBtn {
  font-size: 14px;
  background: #3f6600;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  line-height: 16px;
  color: white;
}

.CircleDetail .bannerIntro .bannerBoxTips {
  margin-top: 8px;
}

.CircleDetail .bannerIntro .bannerBoxTips .bannerInfor {
  display: flex;
  justify-content: left;
}

.CircleDetail .bannerIntro .bannerBoxTips .bannerInfor .inforSpan {
  margin-left: 10px;
  font-size: 0;
  color: #bfbfbf;
}

.CircleDetail .bannerIntro .bannerBoxTips .bannerInfor .inforSpan span {
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
}

.CircleDetail .bannerIntro .bannerBoxTips .bannerInfor .inforSpan i {
  font-style: normal;
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
}

.CircleDetail .bannerIntro .bannerBoxTips .bannerInfor .inforSpan:first-child {
  margin-left: 0;
}

.CircleDetail .bannerIntro .bannerBoxTips .bannerIntroduce {
  text-align: left;
  margin-top: 6px;
  color: #bfbfbf;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.5px;
}
